extends base_profile


block mainContent
  h1 Rating History
  div#historyCommentsContainer

  // Modal for editing comments
  div#editModal.modal(style="display: none;")
    span.close &times;
    div.modal-content
      h2 Edit Rating
      form#editForm(action="/profile/history/edit" method="POST")
        input(type="hidden" name="rating_id" id="editRatingId")
        label(for="editComment") Comment:
        textarea#editComment(name="comment" required=true)
        label(for="editRating") Rating:
        select#editRating(name="rating" required=true)
          each value in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            option(value=value) #{value}
        label(for="editGrade") Grade:
        select#editGrade(name="grade")
          option(value="") Select Grade
          each grade in {6.0: 'A', 5.5: 'B', 5.0: 'C', 4.5: 'D', 4.0: 'E', 3.5: 'Failed'}
            option(value=grade[0]) #{grade[1]}
        label(for="editWorkload") Workload:
        select#editWorkload(name="workload")
          each workload in {1: 'Walk in the Park', 2: 'Manageable', 3: 'Moderate Effort', 4: 'Challenging', 5: 'Pain and Suffering'}
            option(value=workload[0]) #{workload[1]}
        button(type="submit") Save Changes

block scripts
  script(src='/scripts/profile.js')